@model IEnumerable<RenovationFinale.Models.Evaluation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="Create">Nouvelle evaluation</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFournisseurNavigation.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUtilisateurNavigation.Nom)
                @Html.DisplayNameFor(model => model.IdUtilisateurNavigation.Prenom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFournisseurNavigation.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUtilisateurNavigation.Nom)
                @Html.DisplayFor(modelItem => item.IdUtilisateurNavigation.Prenom)
            </td>
            <td>
               
               @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
