@model Renovation.Models.Utilisateur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Utilisateur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotDePasse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotDePasse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdActivateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdActivateur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDesactivateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDesactivateur)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUtilisateur">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
