@model RenovationFinale.Models.Announce

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Announce</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dimensions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dimensions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutreInformations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutreInformations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDesactivateurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDesactivateurNavigation.IdAdministrateur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPieceNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPieceNavigation.IdPiece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTypeRenovationNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTypeRenovationNavigation.IdTypeRenovation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUtilisateurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUtilisateurNavigation.IdUtilisateur)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAnnounce" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
