@model Renovation.Models.Announce

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Announce</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dimensione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dimensione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutreInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutreInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDesactivateurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDesactivateurNavigation.IdAdministrator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPieceNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPieceNavigation.IdPiece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTypeRenovationNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTypeRenovationNavigation.IdTypeRenovation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUtilisateurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUtilisateurNavigation.IdUtilisateur)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAnnounce">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
