@model IEnumerable<RenovationFinale.Models.Announce>

@{
    ViewData["Title"] = "Index";
   
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@if (TempData["messageSuccess"] != null)
{
    <div class="alert alert-success position-absolute top-0 end-0" role="alert">
        @TempData["messageSuccess"]
    </div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                Adresse
            </th>
            <th>
                Duree
            </th>
            <th>
                Dimensions
            </th>
            <th>
                Autre informations
            </th>
            <th>
                Etat
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.IdDesactivateurNavigation)
            </th>*@
            <th>
                Piece
            </th>
            <th>
                Renovation
            </th>
            <th>
                Nom utilisateur
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimensions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutreInformations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etat)
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.IdDesactivateurNavigation.IdAdministrateur)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IdPieceNavigation.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTypeRenovationNavigation.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUtilisateurNavigation.Membre.Nom)
                @Html.DisplayFor(modelItem => item.IdUtilisateurNavigation.Membre.Prenom)
            </td>
            <td>
                    @if (@item.Etat == "Activé")
                    {
                        @Html.ActionLink("Desactive", "Active","Announces",new { id = @item.IdAnnounce, etat = "Désactivé" }, new { @class = "btn btn-sm btn-danger" })
                    } else
                    {
                        @Html.ActionLink("Activé", "Active","Announces",new { id = @item.IdAnnounce, etat = "Activé" }, new { @class = "btn btn-sm btn-success" })
                    }

                    
                @*<a asp-action="Edit" asp-route-id="@item.IdAnnounce">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAnnounce">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAnnounce">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
