@using Microsoft.AspNetCore.Http
@using System.Web;
@using System.Collections;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor context
@model IEnumerable<RenovationFinale.Models.JoinAO>

@{
    ViewData["Title"] = "Index";
    var userId = Convert.ToInt32(context.HttpContext.Request.Cookies["nameIdentifier"]);
    

}

<h1>Announces list</h1>

<div class="row g-3 align-items-center mt-3 mb-3">
    <div class="col-auto">
        <label for="myInput" class="col-form-label">Chercher</label>
    </div>
    <div class="col-auto">
        <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Chercher" title="Chercher">
    </div>
    <div class="col-auto">
        <label for="piece" class="col-form-label">Type de piece</label>
    </div>
    <div class="col-auto">
        @Html.DropDownList("piece",null,"",new { @class = "form-control"})
    </div>
    <div class="col-auto">
        <label for="renovation" class="col-form-label">Type de renovation</label>
    </div>
    <div class="col-auto">
        @Html.DropDownList("renovation",null,"",new { @class = "form-control"})
    </div>
</div>


<table class="table" >
    <thead>
        <tr>
            <th>Announce</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Mes offre</th>
            <th></th>
            <th></th>
            <th></th>
             <th></th>
        </tr>
        <tr>
            <th>
                Adresse
            </th>
            <th>
                Duree
            </th>
            <th>
                Dimensions
            </th>
            <th>
                Autre informations
            </th>
            @*<th>
                Etat
            </th>*@
            @*  <th>
            @Html.DisplayNameFor(model => model.IdDesactivateurNavigation)
            </th>*@
            <th>
                Piece
            </th>
            <th>
                Renovation
            </th>
            <th>
                Nom utilisateur
            </th>
            <th>
                Budget proposé
            </th>
            <th>
                Duree
            </th>
            <th>
                Date commence
            </th>
            <th>
                Etat
            </th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.announceVM.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.announceVM.Duree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.announceVM.Dimensions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.announceVM.AutreInformations)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Etat)
                </td>*@
                @*  <td>
            @Html.DisplayFor(modelItem => item.IdDesactivateurNavigation.IdAdministrateur)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.announceVM.IdPieceNavigation.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.announceVM.IdTypeRenovationNavigation.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.announceVM.IdUtilisateurNavigation.Membre.Nom)
                    @Html.DisplayFor(modelItem => item.announceVM.IdUtilisateurNavigation.Membre.Prenom)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.offreVM.Budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.offreVM.Duree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.offreVM.DateCommence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.offreVM.Etat)
                </td>
                <td>

                  @*  <a asp-action="CreateOffre" asp-controller="EspaceFournisseurs" asp-route-id="@item.announceVM.IdAnnounce">Faire une offre</a>*@
                                       
                    @*<a asp-action="Edit" asp-route-id="@item.IdAnnounce">Edit</a> *@
                    @* <a asp-action="Details" asp-route-id="@item.IdAnnounce">Details</a>|*@
                    @*<a asp-action="Delete" asp-route-id="@item.IdAnnounce">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
