@{
    ViewData["Title"] = "Fournisseur - Apercu";

}

<h1 class="mb-4">Apercu</h1>

@if (TempData["messageSuccess"] != null)
{
    <div class="alert alert-success position-absolute top-0 end-0" role="alert">
        @TempData["messageSuccess"]
    </div>
}

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@ViewBag.offresNumberAttendre offres attendent votre décision</h5>
                <p class="card-text">@ViewBag.offresNumberAttendre offres ont l'attente de votre décision. Vous pouvez accepter ou refuser.</p>
                <a href="../EspaceMembres/Offres" class="btn btn-primary">Offres</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@ViewBag.offresNumber offres reçues</h5>
                <p class="card-text">Jusqu'à présent, vous avez six offres. Savez-vous que vous pouvez contacter directement les entreprises pour recevoir plus d'offres ?</p>
                <a href="../EspaceMembres/Offres" class="btn btn-primary">Offres</a>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@ViewBag.announcesNumber annonces publiées</h5>
                <p class="card-text">Jusqu'à présent, vous avez publié @ViewBag.announcesNumber annonces.</p>
                <a href="../EspaceMembres/MesAnnounces" class="btn btn-primary">Annonces</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@ViewBag.offresNumberAccepte Offres acceptées</h5>
                <p class="card-text">Quand est-ce que les travaux commencent ? Après la finition, veuillez évaluer l'entreprise qui a effectué le travail.</p>
                <a href="../Evaluations" class="btn btn-primary">Evaluer une entreprise</a>
            </div>
        </div>
    </div>
</div>