@model IEnumerable<RenovationFinale.Models.Announce>

@{
    ViewData["Title"] = "Espace Member - Mes Announces";

}
<div class="row mt-2">
    <div class="col-md-4">
        @if (TempData["messageError"] != null)
        {
            <div class="alert alert-success position-absolute top-0 end-0" role="alert">
                @TempData["messageError"]
            </div>
        }
         @if (TempData["messageSuccess"] != null)
        {
            <div class="alert alert-success position-absolute top-0 end-0" role="alert">
                @TempData["messageSuccess"]
            </div>
        }
       
    </div>
</div>

<h1>Mes Announces</h1>

<p>
    <a asp-action="Create" asp-controller="Announces">Nouvell announce</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Adresse
            </th>
            <th>
                Duree
            </th>
            <th>
                Dimensions
            </th>
            <th>
                Autre informations
            </th>
            <th>
                Etat
            </th>
            @*  <th>
            @Html.DisplayNameFor(model => model.IdDesactivateurNavigation)
            </th>*@
            <th>
                Piece
            </th>
            <th>
                Renovation
            </th>
            <th>
                Nom utilisateur
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dimensions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AutreInformations)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Etat)
                </td>
                @*  <td>
            @Html.DisplayFor(modelItem => item.IdDesactivateurNavigation.IdAdministrateur)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.IdPieceNavigation.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTypeRenovationNavigation.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUtilisateurNavigation.Membre.Nom)
                    @Html.DisplayFor(modelItem => item.IdUtilisateurNavigation.Membre.Prenom)
                </td>
                <td>
                    @if (@item.Etat == "Activé")
                    {

                        @Html.ActionLink("Desactive", "Desactive","EspaceMembres",new { id = @item.IdAnnounce }, new { @class = "btn btn-sm btn-danger" })
                        @* <a asp-action="Desactive" asp-route-id="@item.IdAnnounce" class="text text-danger" type="submit">Désactivé</a>*@
                    }
                    else
                    {
                        @Html.ActionLink("Active", "Active","EspaceMembres",new { id = @item.IdAnnounce }, new { @class = "btn btn-sm btn-danger" })
                        @*<a asp-action="Active" asp-route-id="@item.IdAnnounce" class="text" type="submit">Active</a>*@
                    }
                    
                   
                   <a asp-action="Details" asp-route-id="@item.IdAnnounce" asp-controller="Announces" class="btn btn-sm btn-outline-primary">Details</a>
                   @* <a asp-action="Delete" asp-route-id="@item.IdAnnounce">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
