@model IEnumerable<RenovationFinale.Models.JoinAO>

@{
    ViewData["Title"] = "Space Member - Offers";

}

<h1>Offres</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Adresse
            </th>
            <th>
                Duree
            </th>
            <th>
                Dimensions
            </th>
            <th>
                Autre informations
            </th>
            <th>
                Etat announce
            </th>
            @*  <th>
            @Html.DisplayNameFor(model => model.IdDesactivateurNavigation)
            </th>*@
            <th>
                Type renovation
            </th>
            <th>
                Type piece
            </th>
            <th>
                Offres
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.announceVM.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.announceVM.Duree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.announceVM.Dimensions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.announceVM.AutreInformations)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.announceVM.Etat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.announceVM.IdTypeRenovationNavigation.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.announceVM.IdPieceNavigation.Titre)
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#offre-@item.announceVM.IdAnnounce">+</button>

                </td>
                <td>
                    <div class="modal fade" id="offre-@item.announceVM.IdAnnounce" tabindex="-1" aria-labelledby="offre-@item.announceVM.IdAnnounce-Label" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Offres pour cette annonce</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <table class="table" id="offre-@item.announceVM.IdAnnounce">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Fournisseur
                                                </th>
                                                <th>
                                                    Budget
                                                </th>
                                                <th>
                                                    Duree
                                                </th>
                                                <th>
                                                    Date commence
                                                </th>
                                                <th>
                                                    Etat offre
                                                </th>
                                                <th>
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var subitem in Model.Where(id => id.announceVM.IdAnnounce == item.offreVM.IdAnnounce))
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.offreVM.IdFournisseurNavigation.Nom)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.offreVM.Budget)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.offreVM.Duree)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.offreVM.DateCommence)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.offreVM.Etat)
                                                    </td>
                                                    <td>
                                                        @if (item.offreVM.Etat == "Attendre")
                                                        {
                                                            @Html.ActionLink("Accepte", "EditOffre","EspaceMembres", new { idAnnounce = @item.offreVM.IdAnnounce,  idFournisseur = @item.offreVM.IdFournisseur, message = "Accepte"}, new { @class = "btn btn-sm btn-outline-primary me-2" })

                                                            @Html.ActionLink("Refuse", "EditOffre","EspaceMembres",new { idAnnounce = @item.offreVM.IdAnnounce, idFournisseur = @item.offreVM.IdFournisseur, message = "Refuse"}, new { @class = "btn btn-sm btn-outline-secondary" })
                                                        }
                                                        else
                                                        {
                                                            <span class="text text-danger">@item.offreVM.Etat</span>
                                                        }

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
               
            </tr>
        }
    </tbody>
</table>
