
@{
    ViewData["Title"] = "View";
    IEnumerable<JoinUM>ums = ViewData["um"] as IEnumerable<JoinUM>;
    IEnumerable<JoinUF> ufs = ViewData["uf"] as IEnumerable<JoinUF>;
}

<h1>Utilisateurs</h1>

@if (TempData["messageSuccess"] != null)
{
    <div class="alert alert-success position-absolute top-0 end-0" role="alert">
        @TempData["messageSuccess"]
    </div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.MotDePasse)
            </th>*@
            <th>
                Etat
            </th>
            <th>
                Role
            </th>
            @*<th>
            Id Desactivateur
            </th>
            <th>
            Id Activateur
            </th>*@
            <th>
                Nom
            </th>
            <th>
                Prenom
            </th>
            <th>
                Adresse
            </th>
            <th>
                Telephone
            </th>
            <th>
                Active par
            </th>
            <th>
                Desactive par
            </th>

            <th>
            Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (JoinUM item in ums)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.utilisateurVM.Email)
                </td>
                <td>
                    @if (@item.utilisateurVM.Etat == false && @item.utilisateurVM.IdActivateur == null)
                    {
                        <span class="text text-danger">Pas Activé</span>
                    }

                    @if (@item.utilisateurVM.Etat == false && @item.utilisateurVM.IdDesactivateur != null)
                    {
                        <span class="text text-secondary">Désactivé</span>
                    }
                    @if (@item.utilisateurVM.Etat == true)
                    {
                        <span class="text text-primary">Activé</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.utilisateurVM.Role)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.utilisateurVM.IdDesactivateur)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.utilisateurVM.IdActivateurNavigation.IdAdministrateur)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.membreVM.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.membreVM.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.membreVM.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.membreVM.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.utilisateurVM.IdActivateur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.utilisateurVM.IdDesactivateur)
                </td>
                <td>
                    @if (@item.utilisateurVM.Etat == false && @item.utilisateurVM.IdActivateur == null)
                    {
                        @Html.ActionLink("Activation", "Active","Administrateurs",new { id = @item.utilisateurVM.IdUtilisateur, etat = true }, new { @class = "btn btn-sm btn-success" })
                    }

                    @if (@item.utilisateurVM.Etat == false && @item.utilisateurVM.IdDesactivateur != null)
                    {
                        @Html.ActionLink("Active", "Active","Administrateurs",new { id = @item.utilisateurVM.IdUtilisateur, etat = true }, new { @class = "btn btn-sm btn-primary" })
                    }
                    @if (@item.utilisateurVM.Etat == true)
                    {
                        @Html.ActionLink("Desactive", "Active","Administrateurs",new { id = @item.utilisateurVM.IdUtilisateur, etat = false }, new { @class = "btn btn-sm btn-danger" })
                    }
                    //<a asp-action="Edit" asp-controller="Utilisateurs" asp-route-id="@item.utilisateurVM.IdUtilisateur">Active / Desactive</a>
                    @* <a asp-action="Details" asp-route-id="@item.utilisateurVM.IdUtilisateur">Details</a>*@
                    @* <a asp-action="Delete" asp-route-id="@item.utilisateurVM.IdUtilisateur">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>



<h1>Fournisseurs</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.MotDePasse)
            </th>*@
            <th>
                Etat
            </th>
            <th>
                Role
            </th>
            @*<th>
            Id Desactivateur
            </th>
            <th>
            Id Activateur
            </th>*@
            <th>
                Nom
            </th>
            <th>
                Code fiscale
            </th>
            <th>
                Adresse
            </th>
            <th>
                Telephone
            </th>
            <th>
                Active par
            </th>
            <th>
                Desactive par
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (JoinUF item in ufs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.utilisateurVM.Email)
                </td>
                <td>
                    @if (@item.utilisateurVM.Etat == false && @item.utilisateurVM.IdActivateur == null)
                    {
                        <span class="text text-danger">Pas Activé</span>
                    }

                    @if (@item.utilisateurVM.Etat == false && @item.utilisateurVM.IdDesactivateur != null)
                    {
                        <span class="text text-secondary">Désactivé</span>
                    }
                    @if (@item.utilisateurVM.Etat == true)
                    {
                        <span class="text text-primary">Activé</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.utilisateurVM.Role)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.utilisateurVM.IdDesactivateur)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.utilisateurVM.IdActivateurNavigation.IdAdministrateur)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.fournisseurVM.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fournisseurVM.CodeFiscale    )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fournisseurVM.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fournisseurVM.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.utilisateurVM.IdActivateur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.utilisateurVM.IdDesactivateur)
                </td>
                <td>
                    @if (@item.utilisateurVM.Etat == false && @item.utilisateurVM.IdActivateur == null)
                    {
                        @Html.ActionLink("Activation", "Active","Administrateurs",new { id = @item.utilisateurVM.IdUtilisateur, etat = true }, new { @class = "btn btn-sm btn-success" })
                    }

                    @if (@item.utilisateurVM.Etat == false && @item.utilisateurVM.IdDesactivateur != null)
                    {
                        @Html.ActionLink("Active", "Active","Administrateurs",new { id = @item.utilisateurVM.IdUtilisateur, etat = true }, new { @class = "btn btn-sm btn-primary" })
                    }
                    @if (@item.utilisateurVM.Etat == true)
                    {
                        @Html.ActionLink("Desactive", "Active","Administrateurs",new { id = @item.utilisateurVM.IdUtilisateur, etat = false }, new { @class = "btn btn-sm btn-danger" })
                    }
                    //<a asp-action="Edit" asp-controller="Utilisateurs" asp-route-id="@item.utilisateurVM.IdUtilisateur">Active / Desactive</a>
                    @* <a asp-action="Details" asp-route-id="@item.utilisateurVM.IdUtilisateur">Details</a>*@
                    @* <a asp-action="Delete" asp-route-id="@item.utilisateurVM.IdUtilisateur">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>



